@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
    -fx-font-family: "VT323", monospace;
    -fx-font-weight: 400;
}
.homeButtons{
    -fx-background-color: black;
    -fx-min-width: 100px;
    -fx-min-height: 30px;
    -fx-text-fill: red;
    -fx-font-size: 30px;
}

.homeButtons:hover{
    -fx-text-fill: yellow;
    -fx-scale-x: 1.3;
    -fx-scale-y: 1.3;
}

.vbox{
    -fx-background-color:black;
    -fx-min-width: 620px;
    -fx-min-height: 620px;
    -fx-spacing: 8;
}

#start{
    -fx-padding: 30 0 0 0;
}

.rankingText{
    -fx-fill: red;
    -fx-font-size: 35px;
}

.rankingText:hover{
    -fx-text-fill: yellow;
}

.pauseText {
    -fx-fill: yellow;
    -fx-font-size: 42px;
    -fx-border-color: black;
}

.back{
    -fx-background-color: black;
    -fx-min-width: 100px;
    -fx-text-fill: green;
    -fx-font-size: 30px;
    -fx-underline: true;
}

.back:hover{
    -fx-text-fill: yellow;
}

.points{
    -fx-fill: white;
    -fx-font-size: 30px;
    -fx-effect: dropshadow( gaussian , black , 3 , 0.7 , 0 , 0 );
}

.timePoints{
    -fx-padding: 20px;
    -fx-spacing: 10px;
}

.lifeweapon{
    -fx-padding: 15px;
    -fx-spacing: 10px;
}

.weaponbox{
    -fx-spacing: 10px;
}

.buttons {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-effect: dropshadow( gaussian , black , 3 , 0.7 , 0 , 0 );
    -fx-min-width: 100px;
    -fx-text-fill: white;
    -fx-font-size: 30px;
}

.buttons:hover{
    -fx-text-fill: yellow;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-effect: dropshadow( gaussian , black , 3 , 0.7 , 0 , 0 );
}

.buyPlay{
    -fx-background-color: transparent;
    -fx-min-width: 100px;
    -fx-max-height: 40px;
    -fx-text-fill: yellow;
    -fx-font-size: 40px;
    -fx-effect: dropshadow( gaussian , black , 3 , 0.7 , 0 , 0 );
}

.buyPlay:hover{
    -fx-text-fill: yellow;
    -fx-scale-x: 1.3;
    -fx-scale-y: 1.3;
    -fx-effect: dropshadow( gaussian , black , 3 , 0.7 , 0 , 0 );
}

.text-field {
    -fx-pref-width: 290px;
    -fx-pref-height: 52px;
    -fx-font-size: 22px;
    -fx-background-radius: 15;
    -fx-border-radius: 10;
    -fx-padding: 0 0 0 20;
    }